# IDEA
.idea
*.iml
classes

# Eclipse
.classpath
.project

gen/
out/

# Gradle
.gradle
build
generated
wire-library/gradle
wire-library/gradlew
wire-library/gradlew.bat

# Maven
plugin*.xml

# Special Mkdocs files
wire-library/docs/3.x
wire-library/docs/changelog.md
wire-library/docs/contributing.md
wire-library/docs/index.md

local.properties
