# IDEA
.idea
*.iml
classes

# Eclipse
.classpath
.project

gen/
out/

# Gradle
.gradle
build
generated
gradle
gradlew
gradlew.bat

# Maven
plugin*.xml

# Special Mkdocs files
docs/3.x
docs/changelog.md
docs/contributing.md
docs/index.md

local.properties

# for dependency watching with https://github.com/JakeWharton/dependency-watch/
watched-deps
deps-watch.toml
