*                text=auto

*.css            text       eol=lf
*.gradle         text       eol=lf
*.java           text       eol=lf
*.json           text       eol=lf
*.kt             text       eol=lf
*.md             text       eol=lf
*.podspec        text       eol=lf
*.pom            text       eol=lf
*.properties     text       eol=lf
*.proto          text       eol=lf
*.sh             text       eol=lf
*.swift          text       eol=lf
*.xml            text       eol=lf
*.yaml           text       eol=lf
*.yml            text       eol=lf
gradlew          text       eol=lf

*.bat            text       eol=crlf
*.cmd            text       eol=crlf
*.ps1            text       eol=crlf

*.jar            binary

*.gitignore      text=auto
*.gitattributes  text=auto
